MONGO_URI=(link to database)
PORT=3000
JWT_SECRET=
NODE_ENV=development

//delete the ".example" in the name of this file so you are left with just ".env"

//copy the link of the connection into the MONGO_URI at the top.

//the link will then look like this:   mongodb://(username):(password)@localhost:(some numbers)/(DBname)?authSource=admin

// remember to delete any and all brackets to finish setup.

// open up a terminal in VS code, then run    npm install      (by running just "npm install" it will install all dependancies for the program)

//you should be able to go to connection_test.js and just run it with node.js and in the console you shoulkd see "MongoDB Connected"
