MONGO_URI=(link to database)


//delete the ".example" in the name of this file so you are left with just ".env"

//delete the brackets as well. put only the link there. it should end up looking like mongodb://localhost:(some numbers)/DBname

//we will need to add a password and user for security in the database. 
// this will need to be changed in the database connection
//the link will then look like this:   mongodb://(username):(password)localhost:(some numbers)/(DBname)?authSource=admin

